{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row text">
        <h3>Adoption</h3>
        <p>
            Most of our rehomed pets aren't puppies or kittens. They're loud, quiet, fluffy, big, small, or even 
            three-legged. They come with a personality ready-made, a past that's unique to them and a lot of love to give.
            Our animal frineds looking forward for your adoption. <a href="{% url 'pets' %}" >Click here</a> to see our animal frineds 
        </p>
        <br>

        <h5>Our Adoption System:</h5>
        <ul>
            <li><p>You need to send request my email, filling out the form accordingly, make an appointment.</p></li>
            <li><p>You should come to our shelter on the day and time of the appointment with adoption form and bringing 
                following documents.</p></li>
            <li><p>Photos that show the place where the dog or cat will live, including you</p></li>
            <li><p>If you are going to own the house, residence showing the address registered in your name, 
                water, wire, electricity bill, etc. and at least two references that can provide information 
                about you.</p></li>
            <li><p>Before coming to our shelter, you must have read all the texts on this page.</p></li>
        </ul>
        <h5>You should know  before coming to our shelter to adopt our animal firends:</h5>
        <ol>
            <li><p>The adoption system of our shelter is like a child welfare institution. Our dogs are abandoned animals. 
                Since we do not want to cause such great pain to an animal that has experienced this trauma once, we need to 
                get to know you, chat and be sure you are ready to adopt pets. 
            </p></li>
            <li><p>Then, if necessary (if the video or photo is not enough), we see and examine your place closely. You 
                have to go through the procedures like adopting a child from the same child welfare institution. Because 
                they are like our children.</p></li>
            <li><p>If we are sure that they will not be abandoned again and that they will be very well taken care of, then 
                we adopt them.</p></li>
            <li><p>As you can see in the form, since our shelter provides voluntary service, the family that adopts our dog 
                has to help our shelter with necessary materials (dry food, wet food, pasta, medicine, vaccine, etc.) so that 
                we can stand on our feet.</p></li>
            <li><p>We check our dogs at regular intervals after adopting them.</p></li>
            <li><p>Make sure to research if there are other shelters, vet clinics close to the area you live in.</p></li>
            <li><p>Our visiting hours are between 10:30 and 15:00, 5 days a week. You are kindly requested to come with an appointment 
                for adoption.</p></li>
            <li><p>We are always waiting for our animal lover friends between 10.30-15:00 to adopt or spend time with our animal friends.</p></li>
        </ol>
        <p>TINY PAWS is the global animal welfare organisation for animals under direct human influence, which reveals suffering, rescues animals in need and protects them.
            Founded in 1988 in Vienna by Heli Dungler and friends, the organisation advocates for a world where humans treat animals with respect, empathy and understanding. Today, with offices in Australia, Austria, Belgium, Bulgaria, Germany, Kosovo, the Netherlands, Switzerland, South Africa, Thailand, Ukraine, the UK, the USA and Vietnam as well as sanctuaries for rescued animals in eleven countries, FOUR PAWS provides rapid help and long-term solutions.
            
            TINY PAWS’ sustainable campaigns and projects focus on companion animals including stray dogs and cats, farm animals and wild animals – such as bears, big cats, orangutans and elephants – kept in inappropriate conditions as well as in disaster and conflict zones.
            
            We are actively committed to the humane treatment of stray dogs and cats as well as to better keeping conditions for companion and farm animals. We establish and operate sanctuaries worldwide, in which wild animals rescued from abusive captivity find a species-appropriate home.
            
            FOUR PAWS takes a problem-solving approach and offers animals in distress swift and direct aid. Our aim is to achieve and establish changes in politics, society and the economy that will benefit animals – through projects, campaigns and education. Our work is based on scientific expertise, sound research and intensive national and international lobbying.</p>
    </div>
</div>
{% endblock %}