{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row text">
        <h3>Adoption</h3>
        <p>
            Most of our rehomed pets aren't puppies or kittens. They're loud, quiet, fluffy, big, small, or even 
            three-legged. They come with a personality ready-made, a past that's unique to them and a lot of love to give.
            Our animal frineds looking forward for your adoption. <a href="{% url 'pets' %}" >Click here</a> to see our animal frineds 
        </p>
    </div>
</div>
{% endblock %}