{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="containe">
    <div class="row">
        <div class="text-white" style="text-align:center;">
            <h2><strong>Donation</strong></h2>
            <p>
                By donating to Blue Cross, you can transform the lives of pets by helping to provide life-saving operations, 
                paying for their food or finding loving new homes. Any amount you can give us will help change the lives of 
                thousands of pets across the UK.
            </p>
        </div>
    </div>
</div>
{% endblock %}