{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row text">
        <h3 class="mb-view">Donation</h3>
        <p>
            By shopping to Tinny Paws products, you can transform the lives of pets by helping to provide life-saving operations, 
            paying for their food or finding loving new homes. Anything you will shop from our chairty it will help change 
            the lives of thousands of pets across the UK.
        </p>
        <p>
            Tinny Paws is the global animal welfare organisation for animals under direct human influence, which reveals 
            suffering, rescues animals in need and protects them. Our vision is a world where humans treat animals with 
            respect, empathy and understanding.
        </p>
        <p>
            To do this we aim to create sustainable solutions for animals in need, touch hearts and change consumer 
            behavior, drive legal change and build powerful partnerships. 
        </p>
        <p>
            The most effective way to protect animals over the long-term is to improve the legal framework. We attempt to 
            achieve this by direct action and lobbying at the national and international level, and by appealing to the 
            general public. We are internationally active, with our work not bound to any geographic limits.
        </p>
        <p>
            We are NOT accepting direct donation, however all our t-shirts, hoodies, sweats, jeans, shoses are printed in 
            the UK on premium quality extra soft organic cotton, made in an ethically accredited wind-powered factory.
        </p>
        <h6>Shope now, save life!</h6>
        <div class="col-5 shop-now my-5">
            <h4>
                <a href="{% url 'products' %}" class="col-6 shop-now-button btn-lg rounded-0 text-uppercase py-8">Shop Now</a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}
