{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container"> 
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h6 class="display-4 logo-font text-darkgoldenrod">Rescue, love, care and repeat! Shop from our charity store save thousands life!</h6>
                <div class="col-5 shop-now my-5">
                    <h5>
                        <a href="{% url 'products' %}" class="col-6 shop-now-button btn-lg rounded-0 text-uppercase py-8">Shop Now</a>
                    </h5>
                </div>
            </div> 
           
        </div>
    </div>
{% endblock %}