{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container"> 
        <div class="row">
            <div class="col">
                <h1>About Charity</h1>
                <p>
                    The Wildlife Rescue and Ambulance Service (Enfield) was founded in 1985 to help wild animals and birds.
                    The team provide a safe home for rescued wildlife who are sick, injured, or orphaned. Our 
                    rehabilitation programme aims to release animals and birds back into to the wild. There are however 
                    occasions where this is not possible and they take up permanent residence at Trent Park. Where 
                    specialist care is required our team will find a suitable home at a specialist sanctuary - part 
                    of our wider support network for animals and birds.
                    The Charity is officially recognised, and frequently called upon, by the RSPCA, Metropolitan Police, 
                    Hertfordshire Police, Essex Police, the London Borough of Enfield, the Borough of Broxbourne, Lee 
                    Valley Regional Park, the People's Dispensary For Sick Animals and other organisations.
                    Wildlife Rescue & Ambulance Service, are a charity and relies 100% on public donations and visitors 
                    to the centre. All donations, no matter how small, are gratefully welcomed and are used for food, 
                    nursing care and rehabilitation of wild animals and birds and maintenance of their housing.
                    Wildlife Rescue and Ambulance Service (Enfield) is run by June & Barry Smitherman, who founded 
                    the Charity in 1985 with the aim to rescue and rehabilitate wildlife.
                    Barry and June won a 'Local Heroes' award in 1999 for the good work they do, and they were both 
                    awarded with MBEs in the Queen's New Year's Honours List 2005 for services to animal welfare.
                </p>
            </div>
        </div>
    </div>
{% endblock %}