{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container"> 
        <div class="row">
            <div class="col">
                <h1>About Charity</h1>
                <p>
                    Tinny Paws is the global animal welfare organisation for animals under direct human influence, 
                    which reveals suffering, rescues animals in need and protects them.
                </p>
                <p>
                    Founded in 2022 in Neverland by Magic man and friends, the organisation advocates for a world where 
                    humans treat animals with respect, empathy and understanding. Today, with offices in the UK as well as 
                    sanctuaries for rescued animals in different cities, Tinny Paws  provides rapid help and long-term 
                    solutions.
                </p>
                <p>
                    Tinny Paws’ sustainable campaigns and projects focus on companion animals including stray dogs and cats, 
                    farm animals and wild animals – such as bears, big cats, orangutans and elephants – kept in inappropriate 
                    conditions as well as in disaster and conflict zones.

                </p>
                <p>
                    We are actively committed to the humane treatment of stray dogs and cats as well as to better keeping 
                    conditions for companion and farm animals. We establish and operate sanctuaries worldwide, in which 
                    wild animals rescued from abusive captivity find a species-appropriate home.
                </p>
                <p>
                    Tinny paws takes a problem-solving approach and offers animals in distress swift and direct aid. Our 
                    aim is to achieve and establish changes in politics, society and the economy that will benefit animals 
                    – through projects, campaigns and education. Our work is based on scientific expertise, sound research 
                    and intensive national and international lobbying.
                </p>
                <p>
                    Tinny Paws provides a safe home for wildlife such as cats, dogs, rabbits, fish o rescued from non-species 
                    appropriate keeping conditions around the world. 
                </p>
                <p>
                    Tinny Paws rescues animals in need worldwide that are under direct human influence, and reduces and ends the 
                    suffering of animals with continuing help and medical care.
                </p>
            </div>
        </div>
    </div>
{% endblock %}